<%= render :partial => "layouts/menu", :locals => { idnum: @lovetree.user_id ,push: 1}%>
<div class="item_inner">
	<% if @lovetree.growth<=10 %>
		<%= image_tag 'tree_seichou01.png'%>
	<% elsif @lovetree.growth<=20 %>
		<%= image_tag 'tree_seichou02.png' ,class:"position"%>
	<% elsif @lovetree.growth<=30 %>
		<%= image_tag 'tree_seichou03.png' ,class:"position"%>
	<% elsif @lovetree.growth<=40 %>
		<%= image_tag 'tree_seichou04.png' ,class:"position"%>
	<% elsif @lovetree.growth<=50 %>
		<%= image_tag 'tree_seichou05.png' ,class:"position"%>
	<% elsif @lovetree.growth<=70 %>
		<%= image_tag 'tree_seichou06.png' ,class:"position"%>
	<% elsif @lovetree.growth<=85 %>
		<%= image_tag 'tree_seichou07.png' ,class:"position"%>
	<% elsif @lovetree.growth<=100 %>
		<%= image_tag 'tree_seichou08.png' ,class:"position"%>
	<% elsif @lovetree.growth<=90 %>
		<%= image_tag 'tree_seichou09.png' ,class:"position"%>
	<% end %>
	<div class="progress" style="width:300px;">
  		<div class="progress-bar bg-success" role="progressbar" style="width: <%=@lovetree.growth%>%" aria-valuenow=<%=@lovetree.growth.to_s%> aria-valuemin="0" aria-valuemax="100"></div>
	</div>
</div>
<div class="item_inner2">
	<p>あなたの愛情の木の成長度は<%=@lovetree.growth%>です</p>
	<p>成長度100を目指してパートナーに愛情を伝えましょう！</p>
	<p>少しでも幸せな人が増えますように</p>
</div>